* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFAF87;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

nav img {
    height: 35.37px;
}

.img-nav {
    margin: 8px;
}

.menu{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    height: 100.05px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: Koulen;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    background: linear-gradient(#FEE8A2 , rgba(255, 175, 135, 0.00) ) fixed,
    url(./imagens/mapa.jpeg);
}

section h1 {
    font-family: 'Koulen', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.container h2 {
    font-family: 'Koulen', sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    margin-top: 6px;
}

.container img {
    height: 60px;
}

#fotocasal {
    height: 600px;
    margin-top: 60px;
}

#envelope {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin: 60px auto 0 auto;
}

.linkssociais h3 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 89px;
}

.linkssociais h4 {
    color: #000;
    text-align: center;
    font-family: Koulen;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 74px;
}

.linkssociais {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 4px;
}

footer {
    background: #FFAF87;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

footer .rodape {
    display: flex;
    justify-content: space-evenly;
}

footer h2 {
    font-family: Koulen;
    font-size: 40px;
    font-weight: 400;
}

footer .rodape p,
footer form input {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}

footer .rodape .tamrodape {
    width: 519px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
}

footer form input {
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 150px;
    background-color: #fffaef;
    outline: none;
    border: none;
}

footer form button {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 150px;
    border: none;
    background: #D9D9D9;
}

footer .copy {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}